@media screen and (max-width: 767.98px) {

    .container-business,
    .container-header,
    .container-team,
    .footer-container {
        min-width: 100%;
    }

    .nav-list {
        display: none;
    }

    .address-list {
        display: none;
    }

    .project-list {
        display: flex;
        flex-direction: column;
        gap: 72px;

    }

    .project-icon {
        display: none;
    }

    .project-item {
        text-align: left;
    }

    .project-list-title {
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;

    }

    .business-title {
        text-transform: capitalize;
        text-align: center;
        color: #fff;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        margin-bottom: 72px;
        max-width: 224px;
    }

    .section-business-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/Dark-bghero_mob.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 72px 0;
    }

    .section-project {
        padding: 96px 0;
    }



    .team-info-cards {
        display: flex;
        flex-direction: column;
        gap: 72px;
        justify-content: center;
        align-items: center;
    }

    .team-photo {
        width: 100%;
    }

    .team-list {
        width: 100%;
        width: 264px;
    }

    .portfolio-list {
        display: flex;
        flex-direction: column;
        gap: 48px;
    }

    .portfolio-list-item {
        width: 100%;
    }

    .portfolio-photo {

        width: 288px;
        height: 280px;
    }

    .footer-container {
        display: flex;
        gap: 72px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .subscribe-form {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .subscribe-footer {
        margin-left: 0;
    }

    .modal-input-subscribe {
        width: 288px;
        height: 40px;

    }

    .footer-text {
        max-width: 320px;
        font-weight: 400;
        padding-left: 0;
    }

    .footer-logo-container {
        display: flex;
        flex-direction: column;
        margin-right: 0;
    }

    .logo-footer {
        text-align: center;
        margin-right: 0;
    }

    .button-subscribe {
        width: 165px;
        height: 40px;
    }

    .social-text,
    .subscribe-text {
        text-align: center;
    }

    .footer {
        padding-bottom: 96px;
        padding-top: 96px;
    }

    .modal {

        width: 288px;
        height: 97%;
        padding: 72px 16px 16px 16px;

    }

    .team-icon {
        padding: 0 16px;
        margin-top: 8px;
    }


    .modal-checkbox-text {
        display: flex;
    }

    .menu-toggle {
        min-width: 24px;
        min-height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        border: none;
        background-color: transparent;
        outline: none;
        border-radius: 50%;
        cursor: pointer;
    }

}

/* Tablet screen   */


@media only screen and (max-width: 767.98px) {
    .container-header {
        padding: 0 16px 0 16px;
    }

}

@media screen and (min-width: 768px) and (max-width:1157.98px) {

    .section-team,
    .section-project,
    .section-portfolio,
    footer {
        padding: 96px 0;
    }

    .section-team,
    .section-project,
    .section-business,
    .section-portfolio {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-nav {

        gap: 120px;

    }

    .modal {

        top: 32%;
        padding: 72px 25px 25px 25px;

    }

    .logo {
        margin-right: 0;
    }

    .container {
        max-width: 768px;
        margin-left: 0;
        margin-right: 0;
    }

    .container-header {
        padding: 0 16px 0 16px;
        max-width: 100%;
    }

    .address-list {
        flex-direction: column;
        gap: 12px;
    }

    .address-list a {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.1;
    }

    .menu-toggle {
        display: none;
    }

    .business-title {

        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        max-width: 100%;
        width: 68%;
    }

    .section-business-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/Dark-bghero_tab.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 72px 0;
    }

    .project-list {
        justify-content: left;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        grid-gap: 72px 24px;
        text-align: left;

    }

    .project-list-title {
        justify-content: left;
    }

    .project-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    .team-info-cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        grid-gap: 64px 24px;

    }

    .team-photo {
        width: 100%;
    }

    .team-icon {
        padding: 0 16px;
        margin-top: 8px;
    }

    .team-list {
        /* flex-basis: calc((100% - 24px) / 2); */
        width: 264px;
    }

    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        grid-gap: 72px 24px;
    }

    /* .portfolio-list-item {
        flex-basis: calc((100% - 24px) / 2);
    } */

    .portfolio-photo {
        width: 100%;
        height: 300px;
    }

    .project-icon {
        display: none;
    }

    .project-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;


    }

    .project-list-title {
        width: 100%;
        text-align: left;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;

    }

    .project-list-text {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .footer {
        display: flex;
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 96px;
        padding-top: 96px;
        justify-content: center;
        align-items: center;
    }

    .footer-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        grid-gap: 72px 24px;
        padding-left: 0;
        padding-right: 0;
        margin-left: 92px;
        margin-right: 148px;
    }

    .subscribe-footer {
        margin-left: 0;
    }

    .social-media-footer {
        padding-bottom: 31px;
    }


    .footer-logo-container {

        margin-right: 0;
    }


    .button-subscribe {
        width: 165px;
        height: 40px;
    }

    .footer-text {

        font-weight: 400;
    }

}



/* Desktop screen */
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1440px;
    }


    .menu-toggle {
        display: none;
    }

    .business-title {
        padding-top: 116px;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;

        width: 68%;
    }

    .button-primary {
        margin-bottom: 116px;
    }

    .section-business-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/Dark-bghero_desk.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 72px 0;
    }

    .project-list-text {
        color: #2E2F42;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        width: 264px
    }


    .team-info-cards {
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        text-align: center;
        border-radius: 0px 0px 4px 4px;
        justify-content: center;

    }

    .section-team,
    .section-project,
    .section-portfolio,
    footer {
        padding: 120px 0 120px;
    }

    .section-team,
    .section-project,
    .section-portfolio {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .portfolio-list-item {

        width: auto;
    }

    .portfolio-list {
        justify-content: center;
    }

    .footer-container {
        justify-content: center;
        margin-left: 140px;
        margin-right: 143px;
    }

    .footer-text {

        font-weight: 400;
    }

    .header-nav {

        gap: 0px;

    }

    .container-header {
        padding: 0 156px;
    }
}



/* @media only screen and (max-width: 1167.98px) {}

@media screen and (max-width: 584px) {
    .menu-toggle {
        display: block;
    }

    .address-items {
        display: none;
    }

    .nav-list {
        display: none;
    }
}


.logo-footer {
    text-align: center;
    margin-right: 0;
}

.footer-container {
    flex-direction: column;
    align-items: center;
    padding: 0 15%;
    gap: 72px;
}

.footer-container {
    display: flex;
    gap: 72px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-logo-container {
    margin-right: 0;
    display: flex;
    flex-direction: column;
}

.social-text {
    text-align: center;
}


.project-list {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 72px;
}

.project-item {
    width: 264px;
} */

@media only screen and (min-width:768px) {
    .section-business {

        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/Dark-bghero_tab.jpg);
    }
}

@media only screen and (min-width:768px) and (min-resolution:192dpi) {
    .section-business {

        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/Dark-bghero_tab@2x.jpg);
    }
}

@media only screen and (min-width:1158px) {
    .section-business {

        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero_desk.jpg);
    }
}

@media only screen and (min-width:1158px) and (min-resolution:192dpi) {
    .section-business {

        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero_desk@2x.jpg);
    }
}